//inicio index
.main-index {
  background-image: url(./img/fondoIndex.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.parrafo {
  font-style: italic;
  font-size: 20px;
  font-weight: 500;
}
//fin index
